.custom-button {
    width: 90%;
    height: 25px;
    margin-bottom: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #eaf5d8;

    border: 1px solid #999999;
    border-bottom: 1px solid black;

    color: black;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}
