.home-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.side-bar-container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.main-content-area {
    margin-left: 180px;
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #fff;
}


