.lecture-wrapper {
    width: 100%;
    min-width: 1000px;
    padding: 10px;
    box-sizing: border-box;
}
.lecture-table-container{
    overflow-y: auto;
    max-height: 300px;
}

.lectureList-info-bar {
    font-size: 14px;
    color: #3b5e96;
    font-size: 14px;
    font-weight: bold;
}

.lecture-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 11px;
    text-align: center;
}


.lecture-table thead th {
    height: 30px;
    padding: 6px 2px;
    border: 1px solid #c0c0c0;
    background-color: #aacc67;
    font-weight: bold;
    font-size: 0.85em;
    white-space: nowrap;
    vertical-align: middle;
    color: #333;
}


.lecture-table tbody td {
    padding: 2px 4px;
    border: 1px solid #d3d3d3;
    background-color: #e7f2d4;
    vertical-align: middle;
    color: #444;

    overflow: hidden;
}

.lecture-table tbody td.text-left {
    text-align: left;
    padding-left: 8px;
}

.cart-btn {
    background-color: #c3d99c;
    border: 1px solid #333;
    color: #333;
    font-size: 11px;
    padding: 2px 6px;
    cursor: pointer;
}



.lecture-table .col-cart         { width: 12%; }
.lecture-table .col-no           { width: 3%; }
.lecture-table .col-name         { width: 20%; }
.lecture-table .col-code         { width: 7%; }
.lecture-table .col-class        { width: 4%; }
.lecture-table .col-type         { width: 6%; }
.lecture-table .col-credit       { width: 3%; }
.lecture-table .col-time         { width: 3%; }
.lecture-table .col-person       { width: 5%; }
.lecture-table .col-limit        { width: 5%; }
.lecture-table .col-prof         { width: 6%; }
.lecture-table .col-eval         { width: 6%; }
.lecture-table .col-week         { width: 6%; }
.lecture-table .col-rate         { width: 7%; }
.lecture-table .col-desc         { width: 12%; }
.lecture-table .col-schedule     { width: 10%; }
.lecture-table .col-competency   { width: 6%; }

