.lecture-wrapper {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}



.lecture-title-text {
    font-size: 14px;
    color: #3b5e96;
    font-weight: bold;
    margin: 0;
}

.lecture-container {
    width: 100%;
    min-height: 400px;
    overflow-y: auto;
    max-height: 400px;
}


.list {
    width: 100%;
    border-collapse: collapse;
    font-size: 11px;
    text-align: center;
    border: 1px solid #ccc;
}

.list thead th {
    padding: 6px 2px;
    border: 1px solid #c0c0c0;
    background-color: #aacc67;
    font-weight: bold;
    white-space: nowrap;
    vertical-align: middle;
    color: #333;
}


.list tbody td {
    padding: 4px 5px;
    border: 1px solid #d3d3d3;
    background-color: #f8fcf4;
    vertical-align: middle;
    color: #444;
}

.list tbody td.text-left {
    text-align: left;
    padding-left: 8px;
}

.cart-btn {
    background-color: #c3d99c;
    border: 1px solid #333;
    color: #333;
    font-size: 11px;
    padding: 2px 6px;
    cursor: pointer;
}


