.lecture-wrapper {
    width: 1200px;
    padding: 10px;
    box-sizing: border-box;
}

.lectureList-info-bar {
    font-size: 14px;
    color: #3b5e96;
    font-weight: bold;
    margin-bottom: 5px;
}


.lecture-table-container {
    width: 100%;
    overflow-y: auto;
    max-height: 300px;


    border: 1px solid #c0c0c0;
}

.lecture-table {

    table-layout: fixed;

    border-collapse: collapse;
    font-size: 11px;
    text-align: center;
}


.lecture-table thead tr,
.lecture-table tbody tr {
    height: 28px;
}


.lecture-table thead th {
    padding: 6px;
    border-right: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;

    background-color: #aacc67;
    font-weight: bold;
    font-size: 9px;
    color: #333;


    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.lecture-table tbody td {
    padding: 0 4px;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    background-color: #e7f2d4;
    color: #444;
    vertical-align: middle;


    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.lecture-table tbody td.text-left {
    text-align: left;
    padding-left: 8px;
}


.cart-btn {
    background-color: #c3d99c;
    border: 1px solid #666;
    color: #333;
    font-size: 11px;
    padding: 0px 6px;
    cursor: pointer;
}

