.logout-container {
    background-color: #f8fcf4;
    width: var(--sidebar-width);
    overflow: hidden;
}

.logout-header {
    background-color: #bbd788;
    padding: 7px 10px;
    height: 15px;
    display: flex;
    align-items: center;
}

.door {
    font-size: 1.2em;
}

.logout-btn {
    font-size:  0.8em;
    font-weight: 600;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}