.side-bar-container {
    width: 180px;
    box-sizing: border-box;
    background-color: #f8fcf4;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;


}


.logo-area {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.logo-image {
    width: 180px;
    height: auto;
}

.logo-subtext {
    font-size: 0.7em;
    color: #444;
    margin-top: 2px;
}

.button-section{
    width: 180px;
}


.section-header {
    width: 180px;
    background-color: #c5de96;
    padding: 7px 10px;
    height: 15px;
    display: flex;
    align-items: center;

}

.plus-icon {
    margin-right: 8px;
    font-size: 7px;

}

.section-title {
    font-size: 0.8em;
    font-weight: 700;
    width: 180px;
    color: white;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 10px 0px;
    padding: 0 10px;
}





