.user-info-container {
    background-color: #f8fcf4;
    width: 300px;
    overflow: hidden;
}


.user-info-header {
    background-color: #c5de96;
    padding: 10px 15px;
    height: 30px;
    display: flex;
    align-items: center;
}

.user-icon {
    /* 아이콘과 텍스트 사이 간격 */
    margin-right: 5px;
    font-size: 1.2em;
}

.user-title {
    font-size: 1.1em;
    font-weight: 600;
    color: white;
    margin-top: 12px;
}

/* ------------------------------------------------ */
/* 정보 목록 스타일 */
/* ------------------------------------------------ */

.user-details-list {
    padding: 15px;
    line-height: 1.8;
}

.detail-item {
    display: flex;
    font-size: 0.95em;
    color: black;
}

.detail-label {
    font-weight: bold;
}

.detail-value {
    margin-left: 10px;
    font-weight: normal;
}

