.course-warning-wrapper {
    height: 500px;
    width: 100%;
    background-color: #c5de96;
    border: 1px solid white;
}

.warning-title-box {
    color: #333333;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.warningInfo-text{
    font-size: 13px;
    line-height: 0.1;
    text-align: center;
}

.go-cart-btn {
    padding: 10px 18px;
    background-color: #98c154;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.go-cart-btn:hover {
    background-color: #98c154;
    transform: translateY(-1px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


.go-cart-btn:active {
    transform: translateY(0);
    box-shadow: none;
}


.go-cart-btn:focus {
    outline: none;
}