.user-info {
    background-color: #f8fcf4;
    color: #333;
}

.user-info__list {
    padding: 10px;
    line-height: 1.2;
}

.user-info__item {
    display: flex;
    font-size: 0.8em;
}

.user-info__label {
    font-weight: bold;
}

.user-info__value {
    margin-left: 10px;
    font-weight: normal;
}

